extends componentes/plantilla.pug
block contenidos
		section.intro 
			.intro__imagen: img(src="images/imagen.png")
			.intro__contenido 
				h2 #{titulos[0]}
				p
					|Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus vero error, nulla inventore animi harum numquam obcaecati ad veniam modi?
					span Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		main.contenido 
			+caja('imagen.png',titulos[1],'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus vero error, nulla inventore animi harum numquam obcaecati ad veniam modi?')
			+caja('imagen.png',titulos[2],'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus vero error, nulla inventore animi harum numquam obcaecati ad veniam modi?')
			+caja('imagen.png',titulos[3],'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus vero error, nulla inventore animi harum numquam obcaecati ad veniam modi?')